In [1]:
import pandas as pd
import glob
import os
# Merge sample badge data
os.chdir('C:/Users/IliyaKarakolev/Desktop/test2/sample_files/sample_badge')
results = pd.DataFrame([])
for count, file in enumerate(glob.glob("*011018 thru 032818*")):
    namedf = pd.read_csv(file, index_col=0, skiprows=0, dtype=str, usecols=[0,1,2,3],float_precision='high')
    results = results.append(namedf) 
results.to_csv('C:/Users/IliyaKarakolev/Desktop/test2/sample_files/test2_IliyaKarakolev/sample_badge.csv')

In [5]:
import pandas as pd

# Summarize the date range of the sample badge data
df = pd.read_csv(r'C:\Users\IliyaKarakolev\Desktop\test2\sample_files\test2_IliyaKarakolev\sample_badge.csv', index_col='Date/Time', parse_dates=True)
df.groupby( [df.index.year, df.index.month, df.index.day] ).count()

                               Person ID  Location  Card Hotstamp
Date/Time Date/Time Date/Time
2018      1         10              4775      4780           4775
                    11              5310      5318           5310
                    12              4430      4435           4430
                    13               181       181            181
                    14               152       152            152
                    15               348       350            348
                    16              4819      4831           4819
                    17              4535      4555           4535
                    18              4943      4966           4943
                    19              4455      4461           4455
                    20               162       163            162
                    21               170       173            170
                    22              4776      4793           4776
                    23              5303      5330           5303
                    24              5133      5153           5133
                    25              5163      5172           5163
                    26              4429      4432           4429
                    27               175       182            175
                    28               156       157            156
                    29              4865      4870           4865
                    30              4745      4749           4745
                    31              4877      4880           4877
          2         1               4877      4879           4877
                    2               4506      5058           4506
                    3                194       194            194
                    4                152       154            152
                    5               4442      4447           4442
                    6               4825      4838           4825
                    7               4676      4688           4676
                    8               4663      4669           4663
...                                  ...       ...            ...
                    27              4802      4876           4802
                    28              4900      4971           4900
          3         1               4970      5008           4970
                    2               4314      4319           4314
                    3                261       261            261
                    4                188       190            188
                    5               4875      4936           4875
                    6               4852      4884           4852
                    7               4462      4475           4462
                    8               4883      4889           4883
                    9               4258      4268           4258
                    10               202       202            202
                    11               158       159            158
                    12              4431      4438           4431
                    13              4595      4602           4595
                    14              4588      4589           4588
                    15              4516      4521           4516
                    16              3845      3852           3845
                    17               245       246            245
                    18               180       181            180
                    19              4800      4807           4800
                    20              4319      4325           4319
                    21              1863      1865           1863
                    22              4655      4674           4655
                    23              4529      4532           4529
                    24               252       252            252
                    25               144       145            144
                    26              4582      4591           4582
                    27              5037      5059           5037
                    28              4881      4894           4881

[78 rows x 3 columns]

In [4]:
# As we can see from the data range, the high number of records is for the working days
# and the low number of records is for weekends including the Friday 13th.

In [7]:
import pandas as pd


df = pd.read_csv(r'C:\Users\IliyaKarakolev\Desktop\test2\sample_files\test2_IliyaKarakolev\sample_badge.csv', index_col='Date/Time', parse_dates=True)
grouped=df.groupby( [df.index.year, df.index.month, df.index.day] ).count()
grouped.to_csv(r'C:\Users\IliyaKarakolev\Desktop\test2\sample_files\test2_IliyaKarakolev\data_range.csv', index=True)

# I have to work on cleansing headers by rename of the df index and header

In [18]:
import glob
import pandas

# Merge the two data sets

def read_csv(pathnames):
    with open(pathnames, 'r') as csvfile:
        return pd.read_csv(csvfile, delimiter=csvDelimiter, encoding='utf-8')
pathnames = glob.glob('C:/Users/IliyaKarakolev/Desktop/test2/sample_files/test2_IliyaKarakolev/sample_*.csv')

csvDelimiter = ";"
decimalDelimiter_dest='.'

csv_files_with_pathnames = [(read_csv(pathname), pathname) for pathname in pathnames]


for csv, pathname in csv_files_with_pathnames:
    csv.columns = pd.MultiIndex.from_tuples(list(zip((pathname, ''), csv.columns)))
    
dest_file = 'C:/Users/IliyaKarakolev/Desktop/test2/sample_files/test2_IliyaKarakolev/merged_data_sets.csv'

merge = pd.concat([csv for csv, pathname in csv_files_with_pathnames], axis=1)
merge.to_csv(dest_file, sep=',',  decimal=decimalDelimiter_dest)
# I have to find out how to properly separate the first columns at each data set.